<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ringff.scrumer.mapper.StoryMapper">
    <sql id="selectSql">
        SELECT ID,NAME,PROJECT_ID,LINK_URL,CONTENT,DEVELOPER,QA,POINT,DEV_PLAN_TIME,DEV_SPEND_TIME
        ,QA_PLAN_TIME,QA_SPEND_TIME,ISD_COUNT,CREATE_DATE,CREATE_BY,UPDATE_DATE,UPDATE_BY 
        FROM STORY(NOLOCK)  WHERE 1=1
    </sql>
    <insert id="add" parameterType="StoryPO" useGeneratedKeys="true" keyColumn="ID" keyProperty="id" >
        INSERT INTO STORY (NAME,PROJECT_ID,LINK_URL,CONTENT,DEVELOPER,QA,POINT,DEV_PLAN_TIME,DEV_SPEND_TIME
        ,QA_PLAN_TIME,QA_SPEND_TIME,ISD_COUNT,CREATE_DATE,CREATE_BY,UPDATE_DATE,UPDATE_BY )
        VALUES (#{name},#{projectId},#{linkUrl},#{content},#{developer},#{qa},#{point},#{devPlanTime},#{devSpendTime}
        ,#{qaPlanTime},#{qaSpendTime},#{isdCount},#{createDate},#{createBy},#{updateDate},#{updateBy} )
    </insert>
    
    <select id="getOne" resultType="StoryPO" >
        <include refid="selectSql" />
         AND ID = #{id}
    </select>
    
    <select id="getList" parameterType="StoryPO" resultType="StoryPO" >
        <include refid="selectSql" />
         AND (0 = #{id} OR ID = #{id}) AND NAME LIKE concat('%',#{name},'%') AND DEVELOPER LIKE concat('%',#{developer},'%') 
    </select>
    
    <update id="modify" parameterType="StoryPO">
        UPDATE STORY SET NAME=#{name},PROJECT_ID=#{projectId},LINK_URL=#{linkUrl},CONTENT=#{content}
        ,DEVELOPER=#{developer},QA=#{qa},POINT=#{point},DEV_PLAN_TIME=#{devPlanTime},DEV_SPEND_TIME=#{devSpendTime}
        ,QA_PLAN_TIME=#{qaPlanTime},QA_SPEND_TIME=#{qaSpendTime},ISD_COUNT=#{isdCount},UPDATE_DATE=#{updateDate},UPDATE_BY=#{updateBy}
        WHERE ID=#{id}
    </update>
</mapper>