<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ringff.scrumer.mapper.UserLoginPOMapper">
    <sql id="selectSql">
        SELECT ID, NAME,MOBILE,[PASSWORD],SUB_PASSWORD,CREATE_DATE,UPDATE_DATE FROM USER_LOGIN WHERE 1=1 
    </sql>
    <insert id="add" parameterType="UserLoginPO" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO USER_LOGIN(NAME,MOBILE,[PASSWORD],SUB_PASSWORD,CREATE_DATE,UPDATE_DATE)
        VALUES (#{name},#{mobile},#{password},#{subPassword},#{createDate},#{updateDate})
    </insert>
    
    <select id="getOne" parameterType="int" resultType="UserLoginPO">
        <include refid="selectSql" />
         AND ID = #{id}
    </select>
    
    <select id="login" resultType="UserLoginPO" >
        <include refid="selectSql" />
         AND NAME = #{name} AND [PASSWORD] = #{pwd}
    </select>

</mapper>